.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.shopping-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  text-transform: capitalize;
}
.shopping-container {
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
